<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title></title>
  </head>
  <body>
    <h1>My Thing</h1>
    <form action="/color/new" method="get">
      <input type="text" name="color" value=<%= @color.hex_value %> />
      <input type="text" name="width" value=<%= @color.width %> />
      <input type="text" name="height" value=<%= @color.height %> />
      <input type="submit" value="preview" />
    </form>
    <%= @color.html %>
    
    <p>
      <a name="foo"><%= params.inspect %></a>
    </p>
    <form action="/color" method="post">
      <input type="hidden" name="color" value=<%= @color.hex_value %> />
      <input type="hidden" name="width" value=<%= @color.width %> />
      <input type="hidden" name="height" value=<%= @color.height %> />
      <input type="submit" value="save" />
    </form>
  </body>
</html>
